:root {
  --gold-primary-color: #d9a520;
  --gold-secondary-color: #efc579;
  --base-primary-color: #1a1a1a;
  --base-secondary-color: #0f1c2c;
  --white: #ffffff;
  --black: #000000;
}

* {
  margin: 0;
  padding: 0;
}

/*****************/
/** Delta Fonts **/
/*****************/

.open-sans-regular {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  color: var(--black);
  font-size: 14px;
  font-style: normal;
}

/**************************/
/** Delta Main Container **/
/**************************/

.delta-devres-main-container {
  width: 100%;
  height: 2000px;
  background-color: var(--primary-color);
}

.delta-container {
  width: 100%;
  margin: auto;
}

/************************/
/** Delta Hero Section **/
/************************/

.delta-hero-section-container {
  width: 100%;
  height: 700px;
  background: url("../images/delta-hero-background-image.jpg");
  background-size: cover;
  background-position: center;
}

.delta-hero {
  width: 98%;
  padding-top: 20px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/***** Delta Hero Navbar Section *****/

.delta-navbar-holder {
  height: 70px;
  width: 100%;
  background-color: var(--primary-color);
}

.delta-navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/***** Delta Hero logo Section *****/

.delta-logo {
  width: 80px;
  height: 80px;
}

.delta-logo img {
  width: 100%;
  height: 100%;
}

/******** Delta Hero navigation list Section ********/

.delta-navbar-holder ul {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 14px 35px;
  margin: 0;
  border-radius: 50px;
  background-color: var(--white);
}

.delta-navbar-holder ul li {
  border-bottom: 1.5px solid transparent;
  padding-top: 1px;
  padding-bottom: 2px;
  transition: all ease 0.5s;
}

.delta-navbar-holder ul li:hover {
  border-bottom: 1.5px solid var(--gold-primary-color);
  padding-bottom: 2px;
  transition: all ease 0.5s;
}
.delta-navbar-holder ul li a {
  text-decoration: none;
}

.delta-navbar-holder button {
  margin-right: 5px;
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  background: linear-gradient(
    to bottom,
    var(--gold-primary-color),
    var(--gold-secondary-color)
  );
}

/******** Delta Hero content Section *******/
.delta-hero-content {
  width: 70%;
  margin: auto;
  background-color: #1a1a1a4c;
}

.delta-hero-content-image-holder {
  display: flex;
}
